build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
.idea/
*.iml
.DS_Store
android/key.properties
*.jks
*.keystore
